<p id="notice"><%= notice %></p>

<% @profile = Profile.find_by user_id: @user.id %>

<% if @profile == nil %>

  <% controller.redirect_to "/profiles/new?userid=#{@user.id}" %>

<% else %>

  <h2>Profile</h2>

  <%= link_to 'Edit Login', edit_user_path(@user) %> |
  <%= link_to 'Edit Profile', edit_profile_path(@profile) %>

  <br>
  <br>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

<p>
    <strong>Join Date:</strong>
    <%= @user.created_at %>
  </p>

  <p>
    <strong>First Name:</strong>
    <%= @profile.first_name %>
  </p>

  <p>
    <strong>Last Name:</strong>
    <%= @profile.last_name %>
  </p>

  <p>
    <strong>Date of Birth:</strong>
    <%= @profile.date_of_birth %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= @profile.gender %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @profile.city %>
  </p>

  <p>
    <strong>Province:</strong>
    <%= @profile.province %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= @profile.country %>
  </p>

  <p>
    <strong>Occupation:</strong>
    <%= @profile.occupation %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= @profile.picture %>
  </p>

<% end %>

<% @genres = Topic.joins(:likes_topics).where(likes_topics: { profile_id: @profile.id }) %>

  <% @genres.each do |genre| %>
    <%= genre.genre_name %>
  <% end %>

<br>
<br>


<h2>Watched</h2>

<br>
<br>


<% @watched = MovieRating.where user_id: @user.id %>

<table>
  <thead>
    <tr>
      <th>Movie</th>
      <th>Date Watched</th>
      <th>Rating</th>
      <th>Review</th>
      <th>Rating Created</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody style="border: 1px solid black">
    <% @watched.each do |watch| %>
      <% @movie = Movie.find_by id: watch.movie_id %>
      <tr>
        <td><a href="/movies/<%= @movie.id %>"><%= @movie.movie_name %></a></td>
        <td><%= watch.date_watched %></td>
        <td style="text-align: center"><%= watch.user_rating %></td>
        <td id="td1"><%= watch.review %></td>
        <td>
          <% if watch.user_rating != nil %>
            <%= watch.updated_at %>
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_movie_rating_path(watch) %></td>
        <td><%= link_to 'Destroy', watch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

