<!DOCTYPE html>
<html>
<head>
  <title>MovRec</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Movie Recommender</a>
    </div>
    <ul class="nav navbar-nav">
      	<li class="active"><a href="/home">Home</a></li>

	      	<li><a href="/users/<%= current_user.id %>">MY PROFILE</a></li>
	      	<li><a href="/movies">MOVIES</a></li>
	      	<li><a href="/directors">DIRECTORS</a></li>
	      	<li><a href="/topics">TOPICS/GENRES</a></li>
		  	<li><a href="/studios">STUDIOS</a></li>
		  	<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              For Testing <b class="caret"></b>
            </a>
		  	<ul class="dropdown-menu">
				<li><a href="/profiles">PROFILES</a></li>
				<li><a href="/movie_ratings">WATCHED</a></li>
				<li class="divider"></li>
				<li><%= link_to "LOG OUT", logout_path, method: "delete" %></li>
			</ul>
			<% if admin? %>
					<li class="dropdown">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	              Admin Tools<b class="caret"></b>
	            </a>
			  	<ul class="dropdown-menu">
			  		<li><a href="/users">USERS</a></li>
	      			<li><a href="/movies">MOVIES</a></li>
	      			<li><a href="/directors">DIRECTORS</a></li>
	      			<li><a href="/topics">TOPICS/GENRES</a></li>
		  			<li><a href="/studios">STUDIOS</a></li>
					<li><a href="/profiles">PROFILES</a></li>
					<li><a href="/movie_ratings">WATCHED</a></li>
					<li class="divider"></li>
				</ul>
			<% else %>
				<li><a href="logout">LOGOUT</a></li>
			<% end %>

    </ul>
  </div>
</nav>
<% end %>


	<div class="content">
		 <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      	<% end %>
  
		<%= yield %>
	</div>

</body>
</html>
