<body class="background">

<%= form_for(:session, url: login_path) do |f| %>
<br />
<br />
<br />
<img src="http://onin.london/assets/PressPlay-logo-copy.png" style="position: relative; top: 50%; left: 50%; margin-top: -50px; margin-left: -100px; width: 200px">

<% provide(:title, "Log in") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <br />
      <%= f.submit "Log in", class: "btn btn-primary" %>  <%= link_to "Create User", signup_path, :class => "btn btn-primary" %>
    <% end %>


  </div>
</div>
<% end %>

</body>
