<p id="notice"><%= notice %></p>

<div style="width: 1300px; margin: auto; position: center; border-top: 2px black solid; text-align: center">

  <h1 style="border-bottom: 2px solid black; padding-bottom: 10px">Listing - Profiles</h1>

  <%= link_to '- New Profile -', new_profile_path %>

<table style="text-align: center; margin: auto">
  <thead>
    <tr>
      <th>Picture</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Date of Birth</th>
      <th>Gender</th>
      <th>City</th>
      <th>Province</th>
      <th>Country</th>
      <th>Occupation</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <% if profile.picture.blank? %>
          <td><img src="<%= profile.picture %>" style="width: 75px; visibility: hidden"></td>
        <% else %>
          <td><img src="<%= profile.picture %>" style="width: 75px"></td>
        <% end %>
        <td><%= profile.first_name %></td>
        <td><%= profile.last_name %></td>
        <td><%= profile.date_of_birth %></td>
        <td><%= profile.gender %></td>
        <td><%= profile.city %></td>
        <td><%= profile.province %></td>
        <td><%= profile.country %></td>
        <td><%= profile.occupation %></td>
        <td><%= profile.user.email %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
