<p id="notice"><%= notice %></p>

<p>
  <strong>Age range:</strong>
  <%= @profile.age_range %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @profile.occupation %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
