<p id="notice"><%= notice %></p>

<% @admin = UserType.find_by type_name: 'Admin' %>

<div style="width: 1000px; margin: auto; position: center; text-align: center">

<h1 style="text-align: center; border-bottom: 2px black solid; padding-bottom: 10px">Genres</h1>

<% if current_user.user_type_id == @admin.id  %>
  <%= link_to '- New Topic -', new_topic_path %>
<% end %>

  <br>
<table style="margin: auto; margin-top: 20px; width: 850px; align: center">
  <thead>
    <tr>
      <th style="font-size: 18px">Genre</th>
      <th style="font-size: 18px">Top Movie</th>
      <th style="font-size: 18px">Average Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <% @topmovie = Movie.
                      select("movie_ratings.movie_id, movie_name, round(avg(user_rating), 1) as score").
                      joins(:movie_ratings, :movie_topics).
                      where(movie_topics: { topic_id: topic.id }).
                      group(['movie_name', 'movie_ratings.movie_id']).
                      order('score DESC').
                      take %>
      <tr style="height: 200%">
        <td style="font-size: 15px; width: 400px; height: 40px"><a href="/topics/<%= topic.id %>"><%= topic.genre_name %></a></td>

        <% if @topmovie != nil %>
          <td style="font-size: 15px; width: 400px; height: 40px"><a href="/movies/<%= @topmovie.movie_id %>"><%= @topmovie.movie_name %></a></td>
          <td style="font-size: 15px; width: 400px; height: 40px"><%= @topmovie.score %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>


      </tr>
    <% end %>
  </tbody>
</table>
</div>
