<p id="notice"><%= notice %></p>

<h2><%= @topic.genre_name %></h2>

<% if current_user.user_type_id == UserType.find_by(type_name: 'Admin').id  %>
  <%= link_to 'Edit', edit_topic_path(@topic) %> |
<% end %>

<%= link_to 'Back', topics_path %>

<% @movies = Movie.joins(:movie_topics).where(movie_topics: { topic_id: @topic.id }) %>

<br>
<br>

<% @dusers = MovieRating.
					select("max(user_rating) - min(user_rating) as d, max(user_rating) as ma, min(user_rating) as mi, profile_id").
					joins(:movie_topics).
					where(movie_topics: { topic_id: @topic.id }).
					group("profile_id").
					order('d DESC').
					take(3) %>

<table>
  <thead>
	<tr>
	  <th>Diverse Raters</th>
	  <th>Max Movie</th>
	  <th>Rating</th>
	  <th>Min Movie</th>
	  <th>Rating</th>
	  <th>Difference</th>
	  <th colspan="3"></th>
	</tr>
  </thead>

  <tbody>
	<% @dusers.each do |duser| %>
	  <% @user = User.joins(:profile).where(profiles: { id: duser.profile_id }).take %>
	  <% @maxmovie = Movie.joins(:movie_ratings, :movie_topics).where(movie_ratings: { user_rating: duser.ma, profile_id: duser.profile_id }, movie_topics: { topic_id: @topic.id }).take %>
	  <% @minmovie = Movie.joins(:movie_ratings, :movie_topics).where(movie_ratings: { user_rating: duser.mi, profile_id: duser.profile_id }, movie_topics: { topic_id: @topic.id }).take %>
	  
	  <% if duser.d != 0 %>
		  <tr>
			<td><a href="/users/<%= @user.id %>"><%= @user.email %></a></td>
			<td><a href="/movies/<%= @maxmovie.id %>"><%= @maxmovie.movie_name %></a></td>
			<td><%= duser.ma %></td>
			<td><a href="/movies/<%= @minmovie.id %>"><%= @minmovie.movie_name %></a></td>
			<td><%= duser.mi %></td>
			<td><%= duser.d %></td>
		  </tr>
	  <% end %>
	<% end %>
  </tbody>
</table>

<br>
<br>

<table>
  <thead>
	<tr>
	  <th></th>
	  <th>Movie Name</th>
	  <th>Description</th>
	  <th>Date released</th>
	  <th>Duration</th>
	  <th>Language</th>
	  <th>Subtitles</th>
	  <th>Dubbed</th>
	  <th>Country</th>
	  <th>Age rating</th>
	  <th colspan="3"></th>
	</tr>
  </thead>

  <tbody>
	<% @movies.each do |movie| %>
	  <tr>
		<td><img src="<%= movie.poster %>" style="width: 75px"></td>
		<td><%= movie.movie_name %></td>
		<td id="td1"><%= movie.description %></td>
		<td><%= movie.date_released %></td>
		<td>
		  <% if movie.duration.hour == 0 %>
		  	<%= movie.duration.strftime('%Mm') %>
		  <% else %>
			<%= movie.duration.strftime('%kh %Mm') %>
		  <% end %>
		</td>
		<td><%= movie.language %></td>
		<td><%= movie.subtitles %></td>
		<td><%= movie.dubbed %></td>
		<td><%= movie.country %></td>
		<td><%= movie.age_rating %></td>

		<td><%= link_to 'Show', movie %></td>
	  </tr>
	<% end %>
  </tbody>
</table>