<p id="notice"><%= notice %></p>

<p>
  <strong>Studio name:</strong>
  <%= @studio.studio_name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @studio.country %>
</p>

<% @user_type = UserType.find_by type_name: 'Admin' %>
<% if current_user.user_type_id == @user_type.id  %>
	<%= link_to 'Edit', edit_studio_path(@studio) %> |
<% end %>

<%= link_to 'Back', studios_path %>
