<p id="notice"><%= notice %></p>

<img src="<%= @studio.picture %>" style="width: 300px; float: left; padding: 5px">

<p>
  <strong>Studio name:</strong>
  <%= @studio.studio_name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @studio.country %>
</p>

<% if current_user.user_type_id == UserType.find_by(type_name: 'Admin').id  %>
  <%= link_to 'Edit', edit_studio_path(@studio) %> |
<% end %>

<%= link_to 'Back', studios_path %>
