<h1>Welcome to Movie Rec!!</h1>
<p>
  
</p>

<h2>Recommended Movies Based on Genres You Like!</h2>

<% @suggestedmovies = Movie.
                      select("movies.id as id1, movies.movie_name as name, topics.id as genre_id, genre_name, email").
                      joins("LEFT JOIN (
                              SELECT m2.id as id2, m2.movie_name
                              FROM movies m2
                              INNER JOIN movie_ratings ON m2.id = movie_ratings.movie_id
                              INNER JOIN profiles ON movie_ratings.profile_id = profiles.id
                              INNER JOIN users ON profiles.user_id = users.id
                              WHERE users.email = '#{current_user.email}'
                            ) as watched ON movies.id = watched.id2", "INNER JOIN movie_topics ON movies.id = movie_topics.movie_id",
                            "INNER JOIN topics ON movie_topics.topic_id = topics.id",
                            "INNER JOIN likes_topics ON topics.id = likes_topics.topic_id",
                            "INNER JOIN profiles ON likes_topics.profile_id = profiles.id",
                            "INNER JOIN users ON profiles.user_id = users.id").
                      where("watched.id2 IS NULL AND users.email = '#{current_user.email}'").
                      order('genre_name').
                      distinct %>

<table>
  <thead>
    <tr>
      <th>Movie</th>
      <th>Because You like</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suggestedmovies.each do |suggestedmovie| %>
      <tr>
        <td><a href="/movies/<%= suggestedmovie.id1 %>"><%= suggestedmovie.name %></td>
        <td><a href="/topics/<%= suggestedmovie.genre_id %>"><%= suggestedmovie.genre_name %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h2>Feature Actor!</h2>

<% @factor = MovieCast.
					select("actor_id, count(actor_id) as count").
					group("actor_id").
					order('count DESC').
					take %>

<% @featuredactor = Actor.where(id: @factor.actor_id).take %>

<% @directors = Director.
                  joins(:movie_casts).
                  where(movie_casts: { actor_id: @featuredactor.id }).
                  distinct %>

<% @studios = Studio.
                  joins(:movie_casts).
                  where(movie_casts: { actor_id: @featuredactor.id }).
                  distinct %>

<div>
<% unless @featuredactor.picture.blank? %>
  <img src="<%= @featuredactor.picture %>" style="width: 200px; float: left; padding: 5px">
<% end %>

<div style="padding: 5px">

<p>
  <h3><a href="/actors/<%= @featuredactor.id %>"><%= @featuredactor.first_name %> <%= @featuredactor.last_name %></a></h3>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @featuredactor.date_of_birth %>
</p>

<p>
  <strong>Place of birth:</strong>
  <%= @featuredactor.place_of_birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @featuredactor.gender %>
</p>

<br>
<br>
<br>
<br>
<br>

<h4>Directors our actor has worked with!</h4>

<% @directors.each do |director| %>
  <a href="/directors/<%= director.id %>"><%= director.first_name %> <%= director.last_name %></a><br>
<% end %>

<h4>Studios our actor has worked with!</h4>

<% @studios.each do |studio| %>
  <a href="/studios/<%= studio.id %>"><%= studio.studio_name %></a><br>
<% end %>

<br>
<br>
<br>
<br>
<br>

<% @couple = MovieCast.
                select("movie_casts.actor_id as a1, m2.actor_id as a2, count(m2.movie_id) as m").
                joins("JOIN movie_casts AS m2
                            ON movie_casts.movie_id = m2.movie_id").
                where("movie_casts.actor_id > m2.actor_id").
                group(['a1', 'a2']).
                order('m DESC').
                take %>

<h2>Couples - Together in <%= @couple.m %> movies!</h2>

<% @couple1 = Actor.where(id: @couple.a1).take %>
<% @couple2 = Actor.where(id: @couple.a2).take %>

<% unless @couple1.picture.blank? %>
  <img src="<%= @couple1.picture %>" style="width: 200px; float: left; padding: 5px">
<% end %>

<div style="padding: 5px">

<p>
  <h3><a href="/actors/<%= @couple1.id %>"><%= @couple1.first_name %> <%= @couple1.last_name %></a></h3>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @couple1.date_of_birth %>
</p>

<p>
  <strong>Place of birth:</strong>
  <%= @couple1.place_of_birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @couple1.gender %>
</p>

<br>
<br>
<br>
<br>
<br>

<% unless @couple2.picture.blank? %>
  <img src="<%= @couple2.picture %>" style="width: 200px; float: left; padding: 5px">
<% end %>

<div style="padding: 5px">

<p>
  <h3><a href="/actors/<%= @couple2.id %>"><%= @couple2.first_name %> <%= @couple2.last_name %></a></h3>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @couple2.date_of_birth %>
</p>

<p>
  <strong>Place of birth:</strong>
  <%= @couple2.place_of_birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @couple2.gender %>
</p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h2>Top Ten Movies!</h2>

<% @topmovies = Movie.
                  select("movie_id, movie_name, poster, description, country, date_released, language, subtitles, dubbed, age_rating, round(avg(user_rating), 1) as score").
                  joins(:movie_ratings).
                  group(['movie_name', 'poster', 'movie_id', 'description', 'country', 'date_released', 'language', 'subtitles', 'dubbed', 'age_rating']).
                  order('score DESC').
                  take(10) %>

<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Avg Rating</th>
      <th></th>
      <th>Name</th>
      <th>Description</th>
      <th>Country</th>
      <th>Date Released</th>
      <th>Language</th>
      <th>Subtitles</th>
      <th>Dubbed</th>
      <th>Age Rating</th>
      <th>Genres</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <% i = 0 %>

  <tbody>
    <% @topmovies.each do |topmovie| %>
      <% @genres = Topic.joins(:movie_topics).where(movie_topics: { movie_id: topmovie.movie_id }) %>
      <tr>
        <% i = i + 1 %>
        <td><%= i %></td>
        <td><%= topmovie.score %></td>
        <% if topmovie.poster.blank? %>
          <td><img src="<%= topmovie.poster %>" style="width: 75px; visibility: hidden"></td>
        <% else %>
          <td><img src="<%= topmovie.poster %>" style="width: 75px"></td>
        <% end %>
        <td><a href="/movies/<%= topmovie.movie_id %>"><%= topmovie.movie_name %></a></td>
        <td><%= topmovie.description %></td>
        <td><%= topmovie.country %></td>
        <td><%= topmovie.date_released %></td>
        <td><%= topmovie.language %></td>
        <td><%= topmovie.subtitles %></td>
        <td><%= topmovie.dubbed %></td>
        <td><%= topmovie.age_rating %></td>
        <td>
          <% @genres.each do |genre| %>
            <a href="/topics/<%= genre.id %>"><%= genre.genre_name %></a><br>
          <% end %>
        <td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h2>Unwatched movies since last year!</h2>

<% @unwatchedmovies = Movie.
                        joins("LEFT JOIN movie_ratings on movies.id = movie_ratings.movie_id").
                        where("movie_ratings.updated_at < '2016-01-01' OR movie_ratings.movie_id is null") %>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Description</th>
      <th>Country</th>
      <th>Date Released</th>
      <th>Language</th>
      <th>Subtitles</th>
      <th>Dubbed</th>
      <th>Age Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <% i = 0 %>

  <tbody>
    <% @unwatchedmovies.each do |unwatchedmovie| %>
      <tr>
        <% if unwatchedmovie.poster.blank? %>
          <td><img src="<%= unwatchedmovie.poster %>" style="width: 75px; visibility: hidden"></td>
        <% else %>
          <td><img src="<%= unwatchedmovie.poster %>" style="width: 75px"></td>
        <% end %>
        <td><a href="/movies/<%= unwatchedmovie.id %>"><%= unwatchedmovie.movie_name %></a></td>
        <td><%= unwatchedmovie.description %></td>
        <td><%= unwatchedmovie.country %></td>
        <td><%= unwatchedmovie.date_released %></td>
        <td><%= unwatchedmovie.language %></td>
        <td><%= unwatchedmovie.subtitles %></td>
        <td><%= unwatchedmovie.dubbed %></td>
        <td><%= unwatchedmovie.age_rating %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h2>List of Genres in Order of Popularity!</h2>

<% @popgenres = Topic.
                select("topics.id as id, genre_name, count(movie_ratings.id) as popular").
                joins("LEFT JOIN movie_topics ON topics.id = movie_topics.topic_id", "LEFT JOIN movie_ratings ON movie_topics.movie_id = movie_ratings.movie_id").
                group(['genre_name', 'id']).
                order('popular DESC') %>

<table>
  <thead>
    <tr>
      <th>Times Watched</th>
      <th>Genres</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <% i = 0 %>

  <tbody>
    <% @popgenres.each do |popgenre| %>
      <tr>
        <% i = i + 1 %>
        <td><%= popgenre.popular %></td>
        <td><a href="/topics/<%= popgenre.id %>"><%= popgenre.genre_name %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h2>Top Ten Users!</h2>

<% @topusers = User.
                select("user_id, email, picture, round(avg(user_rating), 1) as avg").
                joins(:movie_ratings).
                group(['email', 'user_id', 'picture']).
                order('avg DESC').
                take(10) %>

<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Avg Rating</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <% i = 0 %>

  <tbody>
    <% @topusers.each do |topuser| %>
      <tr>
        <% i = i + 1 %>
        <td><%= i %></td>
        <td><%= topuser.avg %></td>
        <% if topuser.picture.blank? %>
          <td><img src="<%= topuser.picture %>" style="width: 75px; visibility: hidden"></td>
        <% else %>
          <td><img src="<%= topuser.picture %>" style="width: 75px"></td>
        <% end %>
        <td><a href="/users/<%= topuser.user_id %>"><%= topuser.email %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>