<p id="notice"><%= notice %></p>

<h1> Search Results</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

<!-- 
<%= debug @movies %>
<%= debug @actors %>
@directors
@studio
@topics
@users 
--> 

  <tbody>
 <div>
  	<% unless @movies.blank? %>
  		<td><br></td>
  		<td><h3>Movies</h3></td>
	    <% @movies.each do |item| %>
	      <tr>
	      	<% if item.poster.blank? %>
          		<td><img src="<%= item.poster %>" style="width: 75px; visibility: hidden"></td>
        	<% else %>
          		<td><img src="<%= item.poster %>" style="width: 75px"></td>
        	<% end %>

	        <td><%= link_to item.movie_name, item %></td>
	      </tr>
	    <% end %>
    <% end %>
</div>

    <% unless @actors.blank? %>
    	<td><br></td>
    	<td><h3>Actors</h3></h3>
	    <% @actors.each do |item| %>
	      <tr>
	      	<% if item.picture.blank? %>
          		<td><img src="<%= item.picture %>" style="width: 75px; visibility: hidden"></td>
        	<% else %>
          		<td><img src="<%= item.picture %>" style="width: 75px"></td>
        	<% end %>
	        <td><%= link_to item.first_name + ' ' + item.last_name, item %></td>

	      </tr>
	    <% end %>
    <% end %>

    <% unless @directors.blank? %>
    	<td><br></td>
    	<td><h3>Directors</h3></td>
	    <% @directors.each do |item| %>
	      <tr>
	      	<% if item.picture.blank? %>
          		<td><img src="<%= item.picture %>" style="width: 75px; visibility: hidden"></td>
        	<% else %>
          		<td><img src="<%= item.picture %>" style="width: 75px"></td>
        	<% end %>

	        <td><%= link_to item.first_name + ' ' + item.last_name, item %></td>
	      </tr>
	    <% end %>
    <% end %>

     <% unless @studios.blank? %>
     	<td><br></td>
     	<td><h3>Studios</h3></td>
	    <% @studios.each do |item| %>
	      <tr>
	      	<% if item.picture.blank? %>
          		<td><img src="<%= item.picture %>" style="width: 75px; visibility: hidden"></td>
        	<% else %>
          		<td><img src="<%= item.picture %>" style="width: 75px"></td>
        	<% end %>

	        <td><%= link_to item.studio_name, item %></td>
	      </tr>
	    <% end %>
    <% end %>


    <% unless @topics.blank? %>
    <td><h3>Genres</h3></td>
	    <% @topics.each do |item| %>
	      <tr>
	        <td><%= link_to item.genre_name, item %></td>
	      </tr>
	    <% end %>
    <% end %>

     <% unless @users.blank? %>
     	<td><h3>Users</h3></td>
	    <% @users.each do |item| %>
	      <tr>

	    <% @profile = Profile.find_by user_id: item.id %>
 		

	      	<% if @profile.picture.blank? %>
          		<td><img src="<%= @profile.picture %>" style="width: 75px; visibility: hidden"></td>
        	<% else %>
          		<td><img src="<%= @profile.picture %>" style="width: 75px"></td>
        	<% end %>


	        <td><%= link_to item.email, item %></td>
	      </tr>
	    <% end %>
    <% end %>

    <% if @results.blank? %>
    <br><br><br>
    	<div align='center'>Your search did not return any results!</div>
    <% end %>

  </tbody>
</table>

<br>
