<p id="notice"><%= notice %></p>

<% @admin = UserType.find_by type_name: 'Admin' %>

<h1>Listing Directors</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Place of birth</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @directors.each do |director| %>
      <tr>
         <% if director.picture.blank? %>
          <td><img src="<%= director.picture %>" style="width: 75px; visibility: hidden"></td>
        <% else %>
          <td><img src="<%= director.picture %>" style="width: 75px"></td>
        <% end %>
        <td><a href="/directors/<%= director.id %>"><%= director.first_name %> <%= director.last_name %></a></td>
        <td><%= director.place_of_birth %></td>
        <td><%= director.date_of_birth %></td>
        <td><%= director.gender %></td>
        <td><%= link_to 'Show', director %></td>

        <% if current_user.user_type_id == @admin.id %>
          <td><%= link_to 'Edit', edit_director_path(director) %></td>
          <td><%= link_to 'Destroy', director, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.user_type_id == @admin.id  %>
  <%= link_to 'New Director', new_director_path %>
<% end %>
