<p id="notice"><%= notice %></p>

<% @admin = UserType.find_by type_name: 'Admin' %>

<body style="text-align: center">

<h1 style="border-bottom: 2px solid black; padding-bottom: 10px">Directors</h1>

<% if current_user.user_type_id == @admin.id  %>
  <%= link_to '- New Director -', new_director_path %>
<% end %>
<br>

    <% @directors.each do |director| %>

         <% if director.picture.blank? %>
         <div style="padding:10px; text-align: center; display: inline-block">
           <a href="/directors/<%= director.id %>>">
             <img src="https://images-na.ssl-images-amazon.com/images/G/01/IMDbPro/images/default_name._V142442227_SY215_CR34,0,146,215_.png" style="width: 200px">
           </a>
           <p style="padding: 0px"><a href="/directors/<%= director.id %>"><%= director.first_name %> <%= director.last_name %></a></p>
         </div>
        <% else %>
        <div style="display: inline-block">
           <a href="/directors/<%= director.id %>">
             <img src="<%= director.picture %>" style="width: 200px; padding:10px; padding-bottom: 0px">
           </a>
             <p style="padding: 0px"><a href="/directors/<%= director.id %>">
               <%= director.first_name %> <%= director.last_name %>
             </p>
           </a>
        </div>
        <% end %>
    <% end %>

</body>
