<p id="notice"><%= notice %></p>

<div style="width: 1000px; margin: auto; position: center; border-top: 2px black solid">

  <br>
  <% if current_user.user_type_id == UserType.find_by(type_name: 'Admin').id  %>
    <%= link_to 'Edit', edit_director_path(@director) %> |
    <%= link_to 'Destroy', @director, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

  <h1 style="text-align: center; border-bottom: 2px black solid; padding-bottom: 10px"><%= @director.first_name %> <%= @director.last_name %></h1>

  <br>

  <div style="display: flex; padding-bottom: 20px; border-bottom: 2px solid black">
    <div style="float: left; display: inline-block; flex: 1; padding: 10px;">
      <% if @director.picture.blank? %>
        <img src="https://images-na.ssl-images-amazon.com/images/G/01/IMDbPro/images/default_name._V142442227_SY215_CR34,0,146,215_.png" style="width: 350px; float:right; border: solid grey">
    <% else %>
         <img src="<%= @director.picture %>" style="width: 350px; float: right; border: solid grey">
    <% end %>
    </div>

    <div style="float: left; display: inline-block; flex: 1; padding: 10px;">
      <br>
      <p>
        <strong>Date of birth:</strong>
        <%= @director.date_of_birth %>
      </p>

      <p>
        <strong>Place of birth:</strong>
        <%= @director.place_of_birth %>
      </p>

      <p>
        <strong>Gender:</strong>
        <% if @director.gender == 'M' %>
          Male
        <% else %>
          Female
        <% end %>
      </p>
    </div>
  </div>

  <div style="text-align: center; border-bottom: 2px black solid; margin-bottom: 20px; padding-bottom: 10px">

    <h2 style="text-align: center"><span style="border-bottom: .5px black solid">Movies</span></h2>

    <% @movies = Movie.joins(:directs).where(directs: { director_id: @director.id }).order('movie_name ASC') %>

    <% @movies.each do |movie| %>

    <div style="display: inline-block; padding: 10px; width: 220px">
      <a href="/movies/<%= movie.id %>">
        <img src="<%= movie.poster %>" style="width: 200px; padding: 10px; padding-bottom: 0px">
        <p><%= movie.movie_name %></p>
      </a>
        <p>
          <b>Date: </b>
          <%= movie.date_released %>
        </p>
    </div>
    <% end %>
  </div>
</div>
