<p id="notice"><%= notice %></p>

<img src="<%= @director.picture %>" style="width: 200px; float: left; padding: 5px">

<p>
  <strong>First name:</strong>
  <%= @director.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @director.last_name %>
</p>

<p>
  <strong>Place of birth:</strong>
  <%= @director.place_of_birth %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @director.date_of_birth %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @director.gender %>
</p>

<% if current_user.user_type_id == UserType.find_by(type_name: 'Admin').id  %>
  <%= link_to 'Edit', edit_director_path(@director) %> |
<% end %>

<%= link_to 'Back', directors_path %>
