<%= form_for(@movie_rating) do |f| %>
  <% if @movie_rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie_rating.errors.count, "error") %> prohibited this movie_rating from being saved:</h2>

      <ul>
      <% @movie_rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date_watched %><br>
    <%= f.date_select :date_watched, :start_year=>1900, :end_year=> Time.now.year %>
  </div>
  <div class="field">
    <%= f.label :user_rating %><br>
    <table>
      <tr>
        <th style="text-align: center"><%= f.radio_button :user_rating, 0 %></th>
        <th style="text-align: center"><%= f.radio_button :user_rating, 1 %></th>
        <th style="text-align: center"><%= f.radio_button :user_rating, 2 %></th>
        <th style="text-align: center"><%= f.radio_button :user_rating, 3 %></th>
        <th style="text-align: center"><%= f.radio_button :user_rating, 4 %></th>
        <th style="text-align: center"><%= f.radio_button :user_rating, 5 %></th>
        <th style="text-align: center"><%= f.radio_button :user_rating, 6%></th>
        <th style="text-align: center"><%= f.radio_button :user_rating, 7%></th>
        <th style="text-align: center"><%= f.radio_button :user_rating, 8 %></th>
        <th style="text-align: center"><%= f.radio_button :user_rating, 9 %></th>
        <th style="text-align: center"><%= f.radio_button :user_rating, 10 %></th>
      </tr>

      <tr>
        <td style="text-align: center"><%= label :user_rating_0, "0" %></td>
        <td style="text-align: center"><%= label :user_rating_1, "1" %></td>
        <td style="text-align: center"><%= label :user_rating_2, "2" %></td>
        <td style="text-align: center"><%= label :user_rating_3, "3" %></td>
        <td style="text-align: center"><%= label :user_rating_4, "4" %></td>
        <td style="text-align: center"><%= label :user_rating_5, "5" %></td>
        <td style="text-align: center"><%= label :user_rating_6, "6" %></td>
        <td style="text-align: center"><%= label :user_rating_7, "7" %></td>
        <td style="text-align: center"><%= label :user_rating_8, "8" %></td>
        <td style="text-align: center"><%= label :user_rating_9, "9" %></td>
        <td style="text-align: center"><%= label :user_rating_9, "10" %></td>
      </tr>
    </table>
  </div>
  <div class="field">
    <%= f.label :review %><br>
    <%= f.text_area :review %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :movie_id %><br>
    <%= f.text_field :movie_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
