<p id="notice"><%= notice %></p>

<% @admin = UserType.find_by type_name: 'Admin' %>

<h1>Listing Actors</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Date of birth</th>
      <th>Place of birth</th>
      <th>Gender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @actors.each do |actor| %>
      <tr>
        <td><%= actor.first_name %></td>
        <td><%= actor.last_name %></td>
        <td><%= actor.date_of_birth %></td>
        <td><%= actor.place_of_birth %></td>
        <td><%= actor.gender %></td>
        <td><%= link_to 'Show', actor %></td>

        <% if current_user.user_type_id == @admin.id  %>
          <td><%= link_to 'Edit', edit_actor_path(actor) %></td>
          <td><%= link_to 'Destroy', actor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.user_type_id == @admin.id  %>
  <%= link_to 'New Actor', new_actor_path %>
<% end %>