<p id="notice"><%= notice %></p>

<div>
<% unless @actor.picture.blank? %>
  <img src="<%= @actor.picture %>" style="width: 200px; float: left; padding: 5px">
<% end %>

<div style="padding: 5px">

<p>
  <strong>First name:</strong>
  <%= @actor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @actor.last_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @actor.date_of_birth %>
</p>

<p>
  <strong>Place of birth:</strong>
  <%= @actor.place_of_birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @actor.gender %>
</p>

</div>
</div>

<% if current_user.user_type_id == UserType.find_by(type_name: 'Admin').id  %>
  <%= link_to 'Edit', edit_actor_path(@actor) %> |
<% end %>

<%= link_to 'Back', actors_path %>

<% @movies = Movie.joins(:movie_casts).where(movie_casts: { actor_id: @actor.id }).order('movie_name ASC') %>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Movie</th>
      <th>Roles</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <% @roles = Role.joins(:movie_roles, :actor_roles).where(movie_roles: { movie_id: movie.id }, actor_roles: { actor_id: @actor.id }) %>
      <tr>
        <% if movie.poster.blank? %>
          <td><img src="<%= movie.poster %>" style="width: 75px; visibility: hidden"></td>
        <% else %>
          <td><img src="<%= movie.poster %>" style="width: 75px"></td>
        <% end %>
        <td><a href="/movies/<%= movie.id %>"><%= movie.movie_name %></a></td>
        <td>
          <% @roles.each do |role| %>
            <%= role.character_name %><br>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>