<p id="notice"><%= notice %></p>

<% @admin = UserType.find_by type_name: 'Admin' %>

<h1>Listing Movies</h1>

    <% @movies.each do |movie| %>

<<<<<<< HEAD
<div style="float: left;">

    <% if current_user.user_type_id == @admin.id  %>
      <%= link_to 'Edit', edit_movie_path(movie) %>
      <%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <br>

        <% if movie.poster.blank? %>
          <img src="<%= movie.poster %>" style="width: 200px; visibility: hidden">
        <% else %>
          <img src="<%= movie.poster %>" style="width: 200px">
=======
        <% if current_user.user_type_id == @admin.id  %>
          <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
          <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
>>>>>>> a1fc582cd0726b94c5f853d3890aff4c04ca0060
        <% end %>
        <br>
        <td style="width: 200px"><a href="/movies/<%= movie.id %>"><%= movie.movie_name %></a>

    <% end %>
</div>

<% if current_user.user_type_id == @admin.id  %>
  <%= link_to 'New Movie', new_movie_path %>
<% end %>
