<p id="notice"><%= notice %></p>

<h2><%= @movie.movie_name %></h2>

<% if current_user.user_type_id == UserType.find_by(type_name: 'Admin').id  %>
  <%= link_to 'Edit', edit_movie_path(@movie) %> |
<% end %>

<%= link_to 'Back', movies_path %>

<% unless @movie.poster.blank? %>
  <img src="<%= @movie.poster %>" style="width: 350px; float: right">
<% end %>

<p>
  <div><strong>Description:</strong></div>
  <div style="width: 300px; text-align: justify"><%= @movie.description %></div>
</p>

<p>
  <strong>Date released:</strong>
  <%= @movie.date_released %>
</p>

<p>
  <strong>Duration:</strong>
  <% if @movie.duration.hour == 0 %>
    <%= @movie.duration.strftime('%Mm') %>
  <% else %>
    <%= @movie.duration.strftime('%kh %Mm') %>
  <% end %>
</p>

<p>
  <strong>Language:</strong>
  <%= @movie.language %>
</p>

<p>
  <strong>Subtitles:</strong>
  <%= @movie.subtitles %>
</p>

<p>
  <strong>Dubbed:</strong>
  <%= @movie.dubbed %>
</p>

<p>
  <strong>Country:</strong>
  <%= @movie.country %>
</p>

<p>
  <strong>Age rating:</strong>
  <%= @movie.age_rating %>
</p>

<p>
  <strong>Genres:</strong><br>

  <% @genres = Topic.joins(:movie_topics).where(movie_topics: { movie_id: @movie.id }) %>

  <% @genres.each do |genre| %>
    <a href="/topics/<%= genre.id %>"><%= genre.genre_name %></a><br>
  <% end %>

</p>

<p>
  <strong>Directors:</strong><br>

  <% @directors = Director.joins(:directs).where(directs: { movie_id: @movie.id }) %>

  <% @directors.each do |director| %>
    <a href="/directors/<%= director.id %>"><%= director.first_name %> <%= director.last_name %></a><br>
  <% end %>

</p>

<p>
  <strong>Studios:</strong><br>

  <% @studios = Studio.joins(:sponsors).where(sponsors: { movie_id: @movie.id }) %>

  <% @studios.each do |studio| %>
    <a href="/studios/<%= studio.id %>"><%= studio.studio_name %></a><br>
  <% end %>

</p>

<br>
<br>

<h2>Roles</h2>

<% @actors = Actor.joins(:movie_casts).where(movie_casts: { movie_id: @movie.id }).order('casting_type_id ASC') %>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Actors</th>
      <th>Character Name</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @actors.each do |actor| %>
      <% @roles = Role.joins(:actor_roles, :movie_roles).where(actor_roles: { actor_id: actor.id }, movie_roles: { movie_id: @movie.id}) %>
      <% @type = CastingType.joins(:movie_casts).where(movie_casts: { movie_id: @movie.id, actor_id: actor.id }).take %>
      <tr>
          <td><img src="<%= actor.picture %>" style="width: 75px"></td>
          <td><a href="/actors/<%= actor.id %>"><%= actor.first_name %> <%= actor.last_name %></a><br></td>
          <td>
            <% @roles.each do |role| %>
              <%= role.character_name %><br>
            <% end %>
          </td>
          <td><%= @type.cast_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>

<h2>Watched By</h2>

<% @watches =  MovieRating.select("avg(user_rating) as avg, count(id) as count, profile_id").group("profile_id").order(count: :desc).where movie_id: @movie.id %>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Average<br>Rating</th>
      <th>Times Seen</th>
      <th>Reviews</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody style="border: 1px solid black">
    <% @watches.each do |watch| %>
      <% @userreviews = MovieRating.where(movie_id: @movie.id, profile_id: watch.profile_id) %>
      <tr>
        <td style="text-align: center"><a href="/users/<%= watch.profile.user.id %>"><%= watch.profile.user.email %></a></td>
        <td style="text-align: center"><%= watch.avg %></td>
        <td style="text-align: center"><%= watch.count %></td>
        <td>
          <% @userreviews.each do |userreview| %>
            <% if userreview.review != '' %>
              <%= userreview.review %><br>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
